.projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(#2B4074, #FFFFFF);
    position: relative;
    justify-content: center;
}

.projects-title {
    position: absolute;
    font-size: 48px;
    color: #FFFFFF;
}

.projects-line {
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #FFFFFF;
}

.projects-items {
    display: grid;
    position: relative;
}

.projects-item {
    position: relative;
    display: grid;
    justify-items: center;
}

.projects-item-title {
    position: relative;
    font-size: 16px;
    color: #2B4074;
}

.projects-item-hover {
    position: absolute;
    display: flex;
    visibility: hidden;
    align-items: center;
    background-color: #F9F6E5;
    border-radius: 4px;
    opacity: 83.5%;
    align-content: center;
    justify-content: center;
}

.projects-item-hover a {
    background: url("../images/projects/portfolio-icon.png") no-repeat center center;
}

.projects-item:hover .projects-item-hover {
    visibility: visible;
}

.projects-portfolio-1 {
    background-image: url("../images/projects/portfolio-1-318x283.png");
}

.projects-portfolio-2 {
    background-image: url("../images/projects/portfolio-2-318x284.png");
}

.projects-portfolio-3 {
    background-image: url("../images/projects/portfolio-3-318x283.png");
}

.projects-portfolio-4 {
    background-image: url("../images/projects/portfolio-4-318x283.png");
}

@media only screen and (max-width: 639px) {
    .projects {
        height: 1384px;
    }

    .projects-title {
        top: 20px;
        font-size: 24px;
    }

    .projects-line {
        top: 72px;
        width: 50px;
    }

    .projects-items {
        position: absolute;
        top: 121px;
        height: 1223px;
        width: 317px;
    }

    .projects-portfolio {
        background-size: 280px 250px;
        width: 280px;
        height: 250px;
    }

    .projects-item-hover {
        width: 254px;
        height: 227px;
        top: 12px;
    }

    .projects-item-hover a {
        height: 33px;
        width: 73px;
        background-size: 73px 33px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .projects {
        height: 2288px;
    }

    .projects-title {
        top: 40px;
    }

    .projects-line {
        top: 112px;
    }

    .projects-items {
        position: absolute;
        top: 161px;
        height: 2087px;
        width: 519px;
    }

    .projects-portfolio {
        background-size: 518px 460px;
        width: 518px;
        height: 460px;
    }

    .projects-portfolio-1 {
        background-image: url("../images/projects/portfolio-1-518x460.png");
    }

    .projects-portfolio-2 {
        background-image: url("../images/projects/portfolio-2-518x461.png");
    }

    .projects-portfolio-3 {
        background-image: url("../images/projects/portfolio-3-518x461.png");
    }

    .projects-portfolio-4 {
        background-image: url("../images/projects/portfolio-4-518x461.png");
    }

    .projects-item-title {
        font-size: 20px;
    }

    .projects-item-hover {
        width: 470px;
        height: 418px;
        top: 21px;
    }

    .projects-item-hover a {
        height: 62px;
        width: 153px;
        background-size: 153px 62px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .projects {
        height: 1033px;
    }

    .projects-title {
        top: 80px;
    }

    .projects-line {
        top: 156px;
    }

    .projects-items {
        position: absolute;
        top: 244px;
        height: 708px;
        width: 690px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .projects-portfolio {
        background-size: 317px 283px;
        width: 317px;
        height: 283px;
    }

    .projects-item-title {
        font-size: 20px;
    }

    .projects-item-hover {
        width: 287px;
        height: 256px;
        top: 13px;
    }

    .projects-item-hover a {
        height: 38px;
        width: 83px;
        background-size: 83px 38px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .projects {
        height: 1422px;
    }

    .projects-title {
        top: 80px;
    }

    .projects-line {
        top: 156px;
    }

    .projects-items {
        position: absolute;
        top: 244px;
        height: 709px;
        width: 690px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .projects-item img {
        width: 317px;
        height: 283px;
    }

    .projects-portfolio {
        background-size: 317px 283px;
        width: 317px;
        height: 283px;
    }

    .projects-item-hover {
        width: 287px;
        height: 256px;
        top: 13px;
    }

    .projects-item-hover a {
        height: 38px;
        width: 83px;
        background-size: 83px 38px;
    }
}

@media only screen and (min-width: 1440px) {
    .projects {
        height: 668px;
    }

    .projects-title {
        top: 80px;
    }

    .projects-line {
        top: 156px;
    }

    .projects-items {
        position: absolute;
        top: 244px;
        height: 294px;
        width: 1160px;
        grid-template-columns: repeat(4, 25%);
    }

    .projects-portfolio {
        background-size: 268px 239px;
        width: 268px;
        height: 239px;
    }

    .projects-item-title {
        top: 16px;
    }

    .projects-item-hover {
        width: 243px;
        height: 217px;
        top: 11px;
    }

    .projects-item-hover a {
        height: 32px;
        width: 70px;
        background-size: 70px 32px;
    }
}