.promo {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #2B4074;
    justify-items: center;
    -webkit-justify-content: center;
}

.promo-content {
    position: relative;
    display: flex;
    height: 100%;
}

.promo-text {
    position: relative;
    color: white;
}

.promo-title {
    margin: 0;
}

.promo-description {
    font-size: 16px;
}

.promo-buy-button {
    position: relative;
    height: 50px;
    width: 200px;
    border-radius: 3px;
}

.promo-buy-button button {
    height: 100%;
    width: 100%;
    background-color: #F9F6E5;
    color: #2B4074;
    font-size: 18px;
    line-height: 18px;
}

@media only screen and (max-width: 639px) {
    .promo {
        flex-direction: row;
        height: 301px;
    }

    .promo-content {
        flex-direction: column;
    }

    .promo-text {
        top: 40px;
        height: 131px;
        width: 280px;
        text-align: center;
    }

    .promo-title {
        font-size: 24px;
    }

    .promo-buy-button {
        top: 76px;
        align-self: center;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .promo {
        height: 254px;
    }

    .promo-content {
        flex-direction: column;
    }

    .promo-text {
        top: 40px;
        height: 84px;
        width: 580px;
        text-align: center;
    }

    .promo-title {
        font-size: 24px;
    }

    .promo-buy-button {
        top: 82px;
        align-self: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .promo {
        height: 187px;
    }

    .promo-content {
        width: 768px;
    }

    .promo-text {
        top: 60px;
        left: 46px;
        height: 80px;
        width: 446px;
        text-align: left;
    }

    .promo-buy-button {
        top: 69px;
        left: 100px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .promo {
        height: 160px;
    }

    .promo-content {
        width: 1024px;
    }

    .promo-title {
        font-size: 18px;
    }

    .promo-text {
        top: 40px;
        left: 46px;
        height: 80px;
        width: 695px;
    }

    .promo-description {
        font-size: 14px;
    }

    .promo-buy-button {
        top: 55px;
        left: 80px;
    }
}

@media only screen and (min-width: 1440px) {
    .promo {
        height: 192px;
    }

    .promo-content {
        width: 1440px;
    }

    .promo-text {
        top: 57px;
        left: 150px;
        height: 78px;
        width: 796px;
    }

    .promo-title {
        font-size: 24px;
    }

    .promo-buy-button {
        top: 71px;
        left: 335px;
    }

}