.team {
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
    align-content: center;
    -webkit-justify-content: center;
    -webkit-align-content: center;
}

.team-container {
    position: relative;
    display: flex;
    justify-self: center;
    -webkit-align-self: center;
}

.team img {
    position: absolute;
}

.team-title {
    position: absolute;
    color: #4A4A4A;
}

.team-line {
    position: absolute;
    height: 8px;
    background-color: #2B4074;
}

.team-description {
    position: absolute;
    color: #9B9B9B;
}

.team-btn {
    position: absolute;
    width: 230px;
    height: 60px;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    -webkit-align-content: center;
    cursor: pointer;
}

.team-btn button {
    height: 100%;
    width: 100%;
    background-color: #2B4074;
    color: #F9F6E5;
}

@media only screen and (max-width: 639px) {
    .team {
        height: 844px;
    }

    .team-container {
        height: 804px;
        width: 280px;
        -webkit-justify-content: center;
    }

    .team-content {
        display: flex;
        justify-content: center;
    }

    .team-title {
        top: 290px;
        justify-self: center;
        font-size: 24px;
    }

    .team-line {
        width: 45px;
        justify-self: center;
        top: 342px;
    }

    .team-description {
        left: 0;
        top: 373px;
        height: 325px;
        width: 280px;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        align-content: center;
        vertical-align: middle;
    }

    .team img {
        width: 280px;
        height: 243px;
    }

    .team-btn {
        top: 727px;
        justify-self: center;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .team {
        height: 1007px;
    }

    .team-container {
        height: 914px;
        width: 520px;
        -webkit-justify-content: center;
    }

    .team-content {
        display: flex;
        justify-content: center;
    }

    .team-title {
        top: 530px;
        justify-self: center;
        font-size: 36px;
    }

    .team-line {
        width: 88px;
        justify-self: center;
        top: 590px;
    }

    .team-description {
        left: 0;
        top: 638px;
        height: 160px;
        width: 518px;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        justify-self: center;
    }

    .team img {
        width: 520px;
        height: 478px;
    }

    .team-btn {
        top: 848px;
        justify-self: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .team {
        height: 479px;
    }

    .team-container {
        height: 391px;
        width: 678px;
    }

    .team-title {
        left: 274px;
        font-size: 36px;
    }

    .team-line {
        width: 88px;
        left: 274px;
        top: 60px;
    }

    .team-description {
        left: 274px;
        top: 75px;
        height: 235px;
        align-content: center;
        font-size: 16px;
        line-height: 24px;
    }

    .team img {
        width: 240px;
        height: 227px;
    }

    .team-btn {
        top: 331px;
        left: 203px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .team {
        margin-top: -389px;
        height: 540px;
    }

    .team-container {
        height: 380px;
        width: 944px;
    }

    .team-title {
        top: 20px;
        left: 461px;
        font-size: 48px;
    }

    .team-line {
        width: 100px;
        left: 461px;
        top: 82px;
    }

    .team-description {
        left: 461px;
        top: 109px;
        font-size: 18px;
        line-height: 24px;
    }

    .team img {
        width: 400px;
        height: 380px;
    }

    .team-btn {
        top: 315px;
        left: 461px;
    }
}

@media only screen and (min-width: 1440px) {
    .team {
        margin-top: -50px;
        height: 580px;
    }

    .team-container {
        height: 420px;
        width: 1140px;
    }

    .team-title {
        left: 560px;
        font-size: 48px;
    }

    .team-line {
        width: 113px;
        left: 560px;
        top: 82px;
    }

    .team-description {
        left: 560px;
        top: 129px;
        font-size: 18px;
        line-height: 24px;
    }

    .team img {
        width: 460px;
        height: 420px;
    }

    .team-btn {
        top: 354px;
        left: 560px;
    }
}