.testimonial {
    position: relative;
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    height: 480px;
    justify-items: center;
    justify-content: center;
}

.testimonial-slides {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.testimonial-slides .testimonial-slide {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 100%;
    float: left;
    align-items: center;
    visibility: hidden;
}

.testimonial-slides .testimonial-slider-inner {
    width: 300%;
    height: 100%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.testimonial-overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#testimonial-switch1:checked ~ .testimonial-slides .testimonial-slider-inner {
    margin-left: 0;
}

#testimonial-switch2:checked ~ .testimonial-slides .testimonial-slider-inner {
    margin-left: -100%;
}

#testimonial-switch3:checked ~ .testimonial-slides .testimonial-slider-inner {
    margin-left: -200%;
}

.testimonial-quotes {
    position: absolute;
    top: 60px;
    width: 32px;
    height: 27px;
    background: url("../images/testimonial/quotes.png") no-repeat center center;
}

.testimonial-content {
    position: absolute;
    color: #4A4A4A;
    text-align: center;
    align-content: end;
}

.testimonial-content span {
    font-weight: 700;
    color: #2B4074;
}

.testimonial-author {
    position: absolute;
    height: 28px;
    width: 100%;
    color: #4A4A4A;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

.testimonial-pagination {
    position: absolute;
    display: flex;
    top: 390px;
    height: 12px;
    width: 50px;
    align-items: center;
    justify-content: space-around;
}

.testimonial-pagination label {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px #2B4074 solid;
    background-color: #2B4074;
    cursor: pointer;
}

#testimonial-switch1:checked ~ .testimonial-pagination label:nth-child(1),
#testimonial-switch2:checked ~ .testimonial-pagination label:nth-child(2),
#testimonial-switch3:checked ~ .testimonial-pagination label:nth-child(3) {
    background-color: #ffffff00;
}

#testimonial-switch1:checked ~ .testimonial-slides .testimonial-slide:nth-child(1),
#testimonial-switch2:checked ~ .testimonial-slides .testimonial-slide:nth-child(2),
#testimonial-switch3:checked ~ .testimonial-slides .testimonial-slide:nth-child(3) {
    visibility: visible;
}

@media only screen and (max-width: 639px) {
    .testimonial {
        height: 461px;
    }

    .testimonial-content {
        top: 106px;
        width: 275px;
        height: 210px;
        font-size: 24px;
        align-content: center;
    }

    .testimonial-author {
        top: 344px;
    }

    .testimonial-pagination {
        top: 412px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .testimonial {
        height: 410px;
    }

    .testimonial-content {
        top: 114px;
        height: 138px;
        width: 340px;
        font-size: 32px;
    }

    .testimonial-author {
        top: 292px;
    }

    .testimonial-pagination {
        top: 360px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .testimonial {
        height: 410px;
    }

    .testimonial-content {
        top: 114px;
        height: 138px;
        width: 687px;
        font-size: 32px;
    }

    .testimonial-author {
        top: 292px;
    }

    .testimonial-pagination {
        top: 360px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    .testimonial-quotes {
        top: 100px;
    }

    .testimonial-content {
        top: 158px;
        height: 79px;
        font-size: 32px;
    }

    .testimonial-author {
        top: 282px;
    }
}

@media only screen and (min-width: 1440px) {

    .testimonial-quotes {
        top: 100px;
    }

    .testimonial-content {
        top: 144px;
        height: 108px;
        font-size: 36px;
    }

    .testimonial-author {
        top: 282px;
        font-size: 24px;
    }
}